* {
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("images/Furniture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.back-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("images/StaticImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -3; /* very back */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vw;
    background-image: url('images/Furniture.jpeg');  /* main image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25); /* 25% opacity */
    pointer-events: none;
    z-index: -1;
  }

